<header>
  <nav>
    <ul>
      <li class="mr-auto">
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Start</a
        >
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/current-weather">Current</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/weather-forecast">Forecast</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/weather-comparison"
          >Compare</a
        >
      </li>
    </ul>
  </nav>
</header>

<main>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
</main>
