/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --cl-primary-1: #416a59;
  --cl-primary-2: #73a24e;
  --cl-primary-3: #a9c25d;
  --cl-secondary-1: #39395f;
  --cl-secondary-2: #f5eec2;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.mr-auto {
  margin-right: auto;
}
